nav(class='navbar navbar-dark bg-dark') 
            div(class='container-fluid')
                a(href="/", class='navbar-brand m-3')="API de Isaac"
                div(class="m-2")
                    a(href="/", class="btn btn-primary m-2")="Panel de control"
                    a(href="/productos" class="btn btn-primary m-2")="Base de datos"