<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <div>
        <h2 class="text-center m-3">PANEL DE CONTROL</h2>
        <div>
            <form action="/productos" method="post" class="panel">
                <h2 class="mb-4 text-center">Agregar un producto</h2>
                <div class="mb-3">
                    <label class="form-label">Titulo</label>
                    <input type="text" name="title" class="form-control" placeholder="No title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="number" name="price" class="form-control" placeholder="0">
                </div>
                <div class="mb-3">
                    <label class="form-label">Imagen</label>
                    <input type="text" name="thumbnail" class="form-control" placeholder="Image URL">
                </div>
                <button type="submit" class="btn btn-success mt-3" style="width: 40%; align-self: center;">Añadir producto</button>
            </form>
        </div>
    </div>
</body>
</html>